@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap');

$font: Poppins, sans-serif;
$bold: 700;
$medium:600;
$regular: 400;

$gradientC1: rgba(220,220,220,1) 0%;
$gradientC2: rgba(142,141,132,1) 100%;
$textColor: black;
$backgroundColor: #D8D8D8;
$peripheryColor: white;

//navigation settings
$menuHeight: 90px;
$pageZ_index: 1;
$dotSize: 34px;

//card 
$card: 300px;

@mixin basicSizing {
    min-width: 100vw;
    height: 100vh;
    //min-height: 700px;
    
}
@mixin defaultBoxing {
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}
@mixin fontOptBold {
    font-family: $font;
    font-weight: $bold;
}
@mixin fontOptReg {
    font-family: $font;
    font-weight: $regular;
}
@mixin centeringFlexGrid{
    justify-content: center;
    align-items: center;
    align-content: center;
}
@mixin centeringBasic{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
@mixin centeringX{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}
@mixin centeringY{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
